#!/usr/bin/make -f

VERSION := $(shell parsechangelog --all --format rfc822 | grep-dctrl -esVersion . | colrm 1 9)
SOURCE_VERSION := $(shell echo ${VERSION} | grep "^[0-9.]*" -o)

%:
	dh $@

#override_dh_install:
#	yui-compressor lib/codemirror.js > lib/codemirror.min.js
#	dh_install

get-orig.tar:
	uscan --download --force
	mkdir -p tmp
	(cd tmp ; unzip ../../DataTables-${SOURCE_VERSION}.zip )
	(cd tmp/DataTables-${SOURCE_VERSION} ; tar czf ../../../datatables_${SOURCE_VERSION}.orig.tar.gz .)
	tar xf ../datatables_${SOURCE_VERSION}.orig.tar.gz --strip-components=1
	rm -rf tmp
