#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_clean:
	dh_clean
	rm django_hosts.egg-info versiontools* -rf

override_dh_auto_test:
	django-admin test --settings=django_hosts.tests.settings --pythonpath=.
