Source: django-maintenancemode
Section: python
Priority: extra
Maintainer: Alexander Dutton <alexander.dutton@it.ox.ac.uk>
Build-Depends: debhelper (>= 7.0.50~),
               python-all,
               python-support,
               python-setuptools,
               python-django
Standards-Version: 3.8.4
X-Python-Version: >= 2.6
Homepage: https://github.com/shanx/django-maintenancemode
Vcs-Git: git://github.com/shanx/django-maintenancemode.git

Package: python-django-maintenancemode
Section: python
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends}
Description: Allows you to temporarily shutdown your site for maintenance work
 
