Source: jena
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Ludovic Claude <ludovic.claude@laposte.net>
Build-Depends: debhelper (>= 7), cdbs, default-jdk, maven-debian-helper (>= 1.1)
Build-Depends-Indep: libmaven-javadoc-plugin-java,
                     junit4 (>= 4.8), liblog4j1.2-java,
                     default-jdk-doc,
                     libhttpclient-java,
                     jetty,
                     libcommons-fileupload-java
#                     libmaven-dependency-plugin-java,
#                     libmaven-assembly-plugin-java
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.debian.org/svn/pkg-java/trunk/jena
Vcs-Browser: http://svn.debian.org/wsvn/pkg-java/trunk/jena
Homepage: http://jena.apache.org/ 

Package: libjena-core-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Recommends: ${maven:OptionalDepends}
Suggests: libjena-core-java-doc
Description: IRI
 Semantic web

Package: libjena-core-java-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${maven:DocDepends}
Recommends: ${maven:DocOptionalDepends}
Suggests: libjena-core-java
Description: Documentation for IRI
 Semantic web
 .
 This package contains the API documentation of libjena-iri-java.
