#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_clean:
	dh_clean
	#rm django_hosts.egg-info versiontools* -rf

override_dh_auto_test:
	#django-admin test --settings=django_hosts.tests.settings --pythonpath=.

get-orig.tar:
	wget https://github.com/hiidef/ox-it/archive/4fcfe8f11ce11c4fdc0f2e50025416b133d80311.tar.gz -O ../python-oauth2app_0.3.1.orig.tar.gz
        tar xf ../python-oauth2app_0.3.0.orig.tar.gz --strip-components=1
