#!/usr/bin/make -f

VERSION := $(shell parsechangelog --all --format rfc822 | grep-dctrl -esVersion . | colrm 1 9)
SOURCE_VERSION := $(shell echo ${VERSION} | grep "^[0-9.]*" -o)

%:
	dh $@ --with python2

get-orig.tar:
	uscan --download-current-version
	tar xf ../django-appconf_${SOURCE_VERSION}.orig.tar.gz --strip-components=1

